HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.DS_Store

.mvn/*
mvnw*
deploy/terraform/.terraform.lock.hcl
deploy/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.30.0/windows_amd64/terraform-provider-aws_v5.30.0_x5.exe
deploy/terraform/terraform.tfstate
deploy/terraform/terraform.tfstate.backup
