server:
  port: ${PORTA_SERVER}
  forward-headers-strategy: framework

spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${URL_BANCO}:${PORTA_BANCO}/thehome
    username: ${USUARIO_BANCO}
    password: ${SENHA_BANCO}
    hikari:
      maximum-pool-size: 30
      minimum-idle: 1
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false

thehome:
  api:
    user: thehome-api
    password: 4d2tsRR!edpmwuOzJ!8E80JcWwRGOlgf

springdoc:
  swagger-ui:
    operations-sorter: method
